footer {
  border-top: 2px solid #37ff9f;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #131816;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .right-footer {
    display: flex;
    align-items: center;
    p {
      color: $white;
      font-size: 15px;
      font-weight: 400;
      line-height: 120%;
      margin-right: 24px;
    }
    .btn-scroll-top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: transparent;
      cursor: pointer;
      opacity: 0.7;
      border-radius: 50%;
      border: 1.5px solid #37ff9f;
      transition: all 0.4s ease;
      &:hover {
        background-color: #37ff9f;
      }
    }
  }
  @media (max-width: 768px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    .container {
      flex-direction: column;
      justify-content: center;
      gap: 1.6rem;
    }
  }
  @media (max-width: 576px) {
    .container {
      flex-direction: row;
    }
    .logo {
      width: 100%;
      max-width: 13.4rem;
    }
    .right-footer {
      p {
        display: none;
      }
    }
  }
}
