.s-hero {
  .container {
    position: relative;
  }
  .image {
    .figma {
      position: absolute;
      top: 162px;
      left: 75px;
    }
    .wordpress {
      position: absolute;
      top: 25px;
      right: 85px;
    }
    .reactjs {
      position: absolute;
      top: 470px;
      left: 45px;
    }
    .nextjs {
      position: absolute;
      top: 410px;
      right: 150px;
    }
  }
  .social-midia {
    a {
      display: block;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 100%; /* 20px */
      text-decoration: underline;
    }
    .instagram {
      position: absolute;
      top: 287px;
      left: 222px;
    }
    .instagram-line {
      position: absolute;
      top: 296px;
      left: 326px;
    }
    .behance {
      position: absolute;
      top: 84px;
      left: 318px;
    }
    .behance-line {
      position: absolute;
      top: 105px;
      left: 400px;
    }
    .dribbble {
      position: absolute;
      top: 50px;
      left: 568px;
    }
    .dribbble-line {
      position: absolute;
      top: 86px;
      left: 607px;
    }
    .linkedin {
      position: absolute;
      top: 77px;
      right: 326px;
    }
    .linkedin-line {
      position: absolute;
      top: 100px;
      right: 408px;
    }
    .github {
      position: absolute;
      top: 287px;
      right: 252px;
    }
    .github-line {
      position: absolute;
      top: 300px;
      right: 328px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../img/background.svg") no-repeat center center;
    padding-top: 16.9rem;
    padding-bottom: 16.2rem;
    .text {
      width: 100%;
      max-width: 59.2rem;
      text-align: center;
      h4 {
        color: $white;
        @include typeface-1(h4, desktop);
        font-weight: 500;
        letter-spacing: 1.4px;
        opacity: 0.75;
        margin-top: 2.4rem;
        span {
          color: $color-primary-default;
          opacity: 1;
        }
      }
      span {
        display: inline-block;
        margin-top: 1.2rem;
        font-size: 2rem;
        font-weight: 500;
        color: $white;
        opacity: 0.75;
        line-height: 100%;
      }
    }
  }
}

.s-marquee {
  width: 100%;
  background-color: $color-primary-default;
  padding: 2.65rem 0;
  overflow: hidden;
  .content-marquee {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 16px;
    animation: marquee 80s linear infinite;
    .item-marquee {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      background-color: #59efa7;
      padding: 16px 32px;
      gap: 8px;
      p {
        color: #0a0c0b;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%; /* 27px */
        letter-spacing: 0.54px;
      }
    }
  }
}

.s-skills {
  width: 100%;
  padding: 112px 0;
  background-color: $white;
  .skills-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 64px;
    h2 {
      color: #02120a;
      font-size: 32px;
      font-weight: 700;
      line-height: 100%; /* 32px */
    }
    p {
      max-width: 409px;
      color: #7b7b7b;
      font-size: 18px;
      font-weight: 400;
      line-height: 132.5%;
      strong {
        color: #37ff9f;
      }
    }
  }
  .skills-top,
  .skills-bottom {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 32px;
      overflow: hidden;
      li {
        width: 100%;
        background-color: #f1f5f3;
        padding: 32px;
        h3 {
          color: #02120a;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 100%; /* 22px */
          margin-top: 16px;
          margin-bottom: 16px;
        }
        p {
          color: #78797a;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 100%; /* 16px */
        }
      }
    }
  }

  .skills-top {
    padding-bottom: 32px;
  }
}

.s-about-me {
  padding-bottom: 112px;
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(89, 239, 166, 0.493);
    padding: 112px 0;
  }
  .about-me-text {
    width: 100%;
    max-width: 612px;
    .text-content {
      width: 100%;
      max-width: 58.6rem;
      span {
        display: inline-block;
        color: $white;
        font-size: 18px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 2.4rem;
      }
      h2 {
        color: $color-primary-default;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%; /* 48px */
      }
      .subtitle-about-me {
        color: $white;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin-top: 0.4rem;
      }
      .description-about-me {
        color: rgba(255, 255, 255, 0.75);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */
        margin-top: 4rem;
      }
      .link-instagram {
        display: inline-block;
        color: #37ff9f;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        margin-top: 24px;
        transition: all 4s ease;
        &:hover {
          text-decoration-line: underline;
        }
      }
    }
    .about-me-experience-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 60px;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 16px 18px;
        background-color: #59efa7;
        p {
          color: #0a0c0b;
          font-size: 14px;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: 0.54px;
        }
      }
    }
  }
  .about-me-image {
    .element-1 {
      position: absolute;
      top: 60px;
      right: 204px;
    }
    .element-2 {
      position: absolute;
      bottom: 46px;
      right: -66px;
    }
  }
}
