.s-hero {
  .container {
    position: relative;
  }
  .image {
    .figma {
      position: absolute;
      top: 162px;
      left: 75px;
    }
    .wordpress {
      position: absolute;
      top: 25px;
      right: 85px;
    }
    .reactjs {
      position: absolute;
      top: 470px;
      left: 45px;
    }
    .nextjs {
      position: absolute;
      top: 410px;
      right: 150px;
    }
  }
  .social-media {
    a {
      display: block;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 100%; /* 20px */
      text-decoration: underline;
    }
    .instagram {
      position: absolute;
      top: 287px;
      left: 222px;
    }
    .instagram-line {
      position: absolute;
      width: 14.6rem;
      height: 0.1rem;
      top: 296px;
      left: 326px;
      background-color: $white;
    }
    .behance {
      position: absolute;
      top: 84px;
      left: 318px;
    }
    .behance-line {
      position: absolute;
      width: 14.6rem;
      height: 0.1rem;
      top: 158px;
      left: 383px;
      background-color: $white;
      transform: rotate(45deg);
    }
    .dribbble {
      position: absolute;
      top: 18px;
      left: 591px;
    }
    .dribbble-line {
      position: absolute;
      top: 98px;
      left: 574px;
      width: 11.2rem;
      height: 0.1rem;
      background-color: $white;
      transform: rotate(90deg);
    }
    .linkedin {
      position: absolute;
      top: 77px;
      right: 326px;
    }
    .linkedin-line {
      position: absolute;
      width: 14.6rem;
      height: 0.1rem;
      top: 152px;
      right: 390px;
      background-color: $white;
      transform: rotate(-45deg);
    }
    .github {
      position: absolute;
      top: 287px;
      right: 252px;
    }
    .github-line {
      position: absolute;
      width: 14.6rem;
      height: 0.1rem;
      top: 300px;
      right: 328px;
      background-color: $white;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../img/background.svg") no-repeat center center;
    background-size: cover;
    padding-top: 16.9rem;
    padding-bottom: 16.2rem;
    .social-media-mobile {
      display: none;
    }
    .text {
      width: 100%;
      max-width: 59.2rem;
      text-align: center;
      h4 {
        color: $white;
        @include typeface-1(h4, desktop);
        font-weight: 500;
        letter-spacing: 1.4px;
        opacity: 0.75;
        margin-top: 2.4rem;
        span {
          color: $color-primary-default;
          opacity: 1;
        }
      }
      h1 {
        margin-top: 8px;
      }
      span {
        display: inline-block;
        margin-top: 1.2rem;
        font-size: 2rem;
        font-weight: 500;
        color: $white;
        opacity: 0.75;
        line-height: 100%;
      }
    }
  }
  @media (max-width: 1150px) {
    .social-media {
      .instagram-line {
        width: 11.2rem;
      }
      .behance-line {
        width: 11.2rem;
      }
      .dribbble {
        left: 53.6rem;
      }
      .dribbble-line {
        left: 51.8rem;
      }
      .linkedin-line {
        width: 11.2rem;
      }
      .github-line {
        width: 11.2rem;
      }
    }
  }
  @media (max-width: 1024px) {
    .social-media {
      display: none;
    }
    .content {
      padding-top: 11.2rem;
      padding-bottom: 11.2rem;
      .social-media-mobile {
        display: block;
        margin-top: 2.4rem;
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          li {
            a {
              img {
                width: 40px;
                height: 40px;
                border-radius: 10px;
                padding: 0.8rem;
                transition: all 0.3s ease;
              }
              &:hover {
                img {
                  background-color: #59efa7;
                }
              }
            }
            &:not(:last-child) {
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    .image {
      .nextjs {
        right: 8.8rem;
      }
      .wordpress {
        right: 45px;
      }
      .figma {
        top: 112px;
      }
      .reactjs {
        top: 430px;
        left: 11px;
      }
    }
  }
  @media (max-width: 800px) {
    .image {
      .figma {
        width: 50px;
        top: 100px;
        left: 108px;
      }
      .wordpress {
        width: 100px;
        right: 86px;
      }
      .reactjs {
        width: 124px;
        top: 354px;
        left: 76px;
      }
      .nextjs {
        width: 96px;
        right: 108px;
        top: 348px;
      }
    }
  }
  @media (max-width: 576px) {
    .image {
      display: none;
    }
    .content {
      padding-top: 8rem;
      padding-bottom: 8rem;
      img {
        width: 156px;
      }
      .text {
        h1 {
          font-size: 5.8rem;
        }
        span {
          max-width: 46rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}

.s-marquee {
  width: 100%;
  background-color: $color-primary-default;
  padding: 2.65rem 0;
  overflow: hidden;
  .content-marquee {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 16px;
    animation: marquee 80s linear infinite;
    .item-marquee {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      background-color: #59efa7;
      padding: 16px 32px;
      gap: 8px;
      p {
        color: #0a0c0b;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%; /* 27px */
        letter-spacing: 0.54px;
      }
    }
  }
  @media (max-width: 576px) {
    padding: 2rem 0;
    .content-marquee {
      .item-marquee {
        padding: 12px 24px;
        img {
          width: 22px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

.s-skills {
  width: 100%;
  padding: 112px 0;
  background-color: $white;
  .skills-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 64px;
    h2 {
      color: #02120a;
      font-size: 32px;
      font-weight: 700;
      line-height: 100%; /* 32px */
    }
    p {
      max-width: 409px;
      color: #7b7b7b;
      font-size: 18px;
      font-weight: 400;
      line-height: 132.5%;
      strong {
        color: #37ff9f;
      }
    }
  }
  .skills-top,
  .skills-bottom {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 32px;
      overflow: hidden;
      li {
        width: 100%;
        background-color: #f1f5f3;
        padding: 32px;
        h3 {
          color: #02120a;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 100%; /* 22px */
          margin-top: 16px;
          margin-bottom: 16px;
        }
        p {
          color: #78797a;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 100%; /* 16px */
        }
      }
    }
  }

  .skills-top {
    padding-bottom: 32px;
  }
  @media (max-width: 1090px) {
    .skills-title {
      flex-direction: column;
      text-align: center;
      gap: 20px;
      padding-bottom: 4rem;
    }
    .skills-top,
    .skills-bottom {
      ul {
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
  @media (max-width: 850px) {
    .skills-top,
    .skills-bottom {
      ul {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        li {
          p {
            max-width: 27.3rem;
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    padding: 8rem 0;
  }
}

.s-about-me {
  padding-bottom: 112px;
  overflow: hidden;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(89, 239, 166, 0.493);
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .about-me-text {
    width: 100%;
    max-width: 612px;
    margin-right: 32px;
    .text-content {
      width: 100%;
      max-width: 58.6rem;
      span {
        display: inline-block;
        color: $white;
        font-size: 18px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 2.4rem;
      }
      h2 {
        color: $color-primary-default;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%; /* 48px */
      }
      .subtitle-about-me {
        color: $white;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin-top: 0.4rem;
      }
      .description-about-me {
        color: rgba(255, 255, 255, 0.75);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */
        margin-top: 4rem;
      }
      .link-instagram {
        display: inline-block;
        color: #37ff9f;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        margin-top: 24px;
        transition: all 4s ease;
        &:hover {
          text-decoration-line: underline;
        }
      }
    }
    .about-me-experience-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 60px;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 16px 18px;
        background-color: #59efa7;
        p {
          color: #0a0c0b;
          font-size: 14px;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: 0.54px;
        }
      }
    }
  }
  .about-me-image {
    position: relative;
    .img-about-me {
      width: 100%;
    }
    .element-1 {
      position: absolute;
      top: -50px;
      left: -108px;
    }
    .element-2 {
      position: absolute;
      bottom: -66px;
      right: -52px;
    }
  }
  @media (max-width: 1090px) {
    .container {
      flex-direction: column-reverse;
      justify-content: center;
    }
    .about-me-text {
      margin-right: 0;
      .text-content {
        margin-top: 4rem;
        text-align: center;
      }
    }
    .about-me-image {
      .img-about-me {
        max-width: 45rem;
      }
      .element-1 {
        top: -40px;
        left: -88px;
        max-width: 315px;
      }
      .element-2 {
        max-width: 18rem;
        bottom: -35px;
        right: -35px;
      }
    }
  }
  @media (max-width: 768px) {
    .about-me-text {
      .about-me-experience-list {
        flex-direction: column;
        gap: 10px;
        margin-top: 4rem;
        li {
          width: 100%;
          max-width: 243px;
        }
      }
    }
  }
  @media (max-width: 576px) {
    padding-bottom: 8rem;
    .container {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

.s-cases {
  scroll-margin-top: 130px;
  margin-bottom: 11.2rem;
  position: relative !important;
  width: 100%;
  height: 669px;
  // Title and Mobile
  .container {
    .s-work-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2,
      p {
        color: $white;
      }
      h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
      }
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 2px;
        background-image: linear-gradient(
          91.8deg,
          #d4d4d4 3.98%,
          #ffffff 86.98%
        );
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
    }
    // Mobile Slide
    .slide-cases-mobile {
      display: none;
      margin-top: 6rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative !important;
      .swiper-wrapper {
        position: relative !important;
        .swiper-slide {
          background-color: #f7f7f7;
          padding-top: 60px;
          padding-left: 60px;
          padding-right: 60px;
          padding-bottom: 45px;
          .case-box {
            display: flex;
            align-items: center;
            gap: 50px;
            flex-direction: column;
            .img-case {
              img {
                width: 100%;
                max-width: 500px;
                object-fit: cover;
              }
            }
            .case-box-title {
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;
              h6 {
                font-family: "Inter", sans-serif;
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                color: #030e15;
              }
              a {
                display: flex;
                align-items: center;
                gap: 16px;
                .project-link {
                  font-family: "Inter", sans-serif;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 150%;
                  letter-spacing: 3px;
                  text-transform: uppercase;
                  color: #030e15;
                  transition: all 0.3s;
                  padding-bottom: 0px;
                }
                &:hover {
                  p {
                    color: rgba(0, 8, 17, 0.9);
                    text-decoration: underline;
                  }
                }
              }
              .arrow-mb-slide {
                display: none;
                pointer-events: none;
              }
            }
          }
        }
      }
      .swiper-pagination-progressbar {
        background: #9a9d9e;
        .swiper-pagination-progressbar-fill {
          background: #2d3235;
        }
      }
    }
  }
  // Slide Area
  .area-cases {
    position: relative;
    width: 100%;
    height: 501px;
    margin-top: 46px;
    margin-bottom: 46px;
    overflow: hidden;
    // Case Image Area
    .slide-image-cases {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 1260px;
      pointer-events: none;
      .swiper-wrapper {
        position: relative;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
        z-index: 1;
        width: 100%;
        height: 100%;
        .swiper-slide {
          opacity: 0;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          max-width: 592px !important;
          &.swiper-slide-thumb-active,
          &.swiper-slide-active,
          &.swiper-slide-prev {
            opacity: 1;
          }
          &.swiper-slide-next {
            opacity: 0;
            transition: all 0.3s;
          }
          .box {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            height: 100%;
            max-width: 592px;
            max-height: 501px;
            overflow: hidden;
            background-color: #e9e9e9;
            img {
              display: block;
              width: 100%;
              min-height: 501px;
              transition: all 0.3s;
              object-fit: cover;
            }
          }
        }
      }
    }
    // About Text Area
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      .slide-about-case {
        width: 450px;
        height: 501px;
        .swiper-wrapper {
          .swiper-slide {
            opacity: 0;
            transition: all 0.2s;
            &.swiper-slide-active {
              opacity: 1;
              transition: all 0.2s;
            }
            .text-case {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              h4 {
                font-weight: 600;
                font-size: 24px;
                line-height: 150%;
                color: $white;
                margin-bottom: 24px;
                width: 100%;
                max-width: 400px;
              }
              ul {
                display: flex;
                align-items: flex-start;
                gap: 24px;
                padding-bottom: 32px;
                li {
                  transition: all 0.2s;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 8px;
                  background-color: $color-primary-default;
                  width: 120px;
                  height: 40px;
                  img {
                    width: 14px;
                    height: 24px;
                  }
                  span {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 120%;
                    color: #030e15;
                  }
                  &:hover {
                    background-color: rgba(55, 255, 158, 0.5);
                  }
                }
              }
              p {
                width: 100%;
                max-width: 450px;
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.03em;
                color: #d4d4d4;
                padding-bottom: 30px;
              }
              strong {
                width: 100%;
                max-width: 416px;
                font-family: "Inter", sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.03em;
                color: #f5f5f5;
              }
              a {
                padding-top: 72px;
                display: flex;
                align-items: center;
                gap: 16px;
                .project-link {
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 150%;
                  letter-spacing: 3px;
                  text-transform: uppercase;
                  color: $color-primary-default;
                  transition: all 0.2s;
                  padding-bottom: 0px;
                }
                &:hover {
                  p {
                    color: rgba(55, 255, 158, 0.829);
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // Pagination and Fraction
  .ctrl-slide {
    width: 1248px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .swiper-pagination {
      position: relative;
      bottom: 0;
      width: auto;
      // Numbers
      &.page-fraction {
        margin-left: -150px !important;
        &.swiper-pagination-fraction {
          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #ffffff;
          }
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: #ffffff;
        }
      }
      // Bullets
      &.pagination-box-cases {
        &.swiper-pagination-bullets {
          display: flex;
          align-items: center;
          gap: 5px;
          transition: all 0.2s;
          .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #dadcdd;
            transition: all 0.2s;
            opacity: 1;
            &-active {
              transition: all 0.2s;
              background: #37ff9f;
            }
          }
        }
      }
    }
    .arrows-slide {
      width: 100%;
      max-width: 80px;
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 10px;
      .btn {
        width: 32px;
        height: 32px;
        @include flex(row, center, center);
        transition: all 0.3s;
        opacity: 1;
        cursor: pointer;
        img {
          min-width: 17px;
        }
        &-next {
          margin-top: -2px;
        }
        // class default by swiper pagination
        &.swiper-button-disabled {
          opacity: 0.25;
          pointer-events: none;
        }
        &:focus {
          outline: 0;
          box-shadow: 0 0 0 2px var(--gray-900);
        }
      }
    }
  }
  // Responsive
  @media (min-width: 2300px) {
    .area-cases {
      .slide-image-cases {
        left: 350px !important;
      }
    }
  }
  @media (min-width: 2000px) {
    .area-cases {
      .slide-image-cases {
        left: 200px;
        .swiper-wrapper {
          .swiper-slide {
            &.swiper-slide-prev {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1999px) {
    .area-cases {
      .slide-image-cases {
        left: 150px;
        .swiper-wrapper {
          .swiper-slide {
            &.swiper-slide-prev {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1900px) {
    .area-cases {
      .slide-image-cases {
        left: 80px;
      }
    }
  }
  @media (max-width: 1770px) {
    .area-cases {
      .slide-image-cases {
        left: -80px;
      }
    }
  }
  @media (max-width: 1550px) {
    .area-cases {
      .slide-image-cases {
        left: -100px;
      }
    }
  }
  @media (max-width: 1450px) {
    .area-cases {
      .slide-image-cases {
        left: -150px !important;
      }
    }
  }
  @media (max-width: 1380px) {
    .area-cases {
      .slide-image-cases {
        left: -200px !important;
      }
    }
  }
  @media (max-width: 1260px) {
    margin-bottom: 0;
    .container {
      // Mobile Slide
      .slide-cases-mobile {
        display: block;
        pointer-events: all;
      }
    }
    .area-cases,
    .ctrl-slide {
      display: none;
      pointer-events: none;
    }
  }
  @media (max-width: 1090px) {
    .container {
      .s-work-title {
        flex-direction: column;
        gap: 15px;
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      .s-work-title {
        h2 {
          font-size: 30px;
        }
      }
    }
  }
  @media (max-width: 700px) {
    height: 590px;
    .container {
      .slide-cases-mobile {
        .swiper-wrapper {
          .swiper-slide {
            padding-top: 4rem;
            padding-left: 4rem;
            padding-right: 4rem;
            padding-bottom: 3rem;
            .case-box {
              gap: 3rem;
              .case-box-title {
                h6 {
                  font-size: 18px;
                }
                .project-link,
                .arrow-project-slide {
                  display: none;
                  pointer-events: none;
                }
                .arrow-mb-slide {
                  display: block;
                  pointer-events: all;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    height: 480px;
    .container {
      .slide-cases-mobile {
        margin-top: 4rem;
        .swiper-wrapper {
          .swiper-slide {
            padding-top: 3rem;
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 3rem;
            .case-box {
              .img-case {
                max-width: 390px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    height: 45rem;
  }
  @media (max-width: 375px) {
    height: 38rem;
    .container {
      .slide-cases-mobile {
        margin-top: 3rem;
        .swiper-wrapper {
          .swiper-slide {
            padding-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 2rem;
            .case-box {
              gap: 2rem;
              .img-case {
                max-width: 400px;
              }
              .case-box-title {
                h6 {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.s-call-to-action {
  padding-top: 112px;
  padding-bottom: 112px;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .call-to-action-title {
    width: 100%;
    max-width: 779px;
    h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      line-height: 100%; /* 40px */
    }
    a {
      max-width: 190px;
      margin-top: 80px;
    }
  }
  .social-media {
    ul {
      li {
        a {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          p {
            display: none;
            color: $white;
            font-size: 18px;
            font-weight: 600;
            line-height: 150%;
            margin-right: 12px;
          }
          &:hover {
            p {
              display: block;
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
  @media (max-width: 991px) {
    .call-to-action-title {
      max-width: 56rem;
      h2 {
        font-size: 38px;
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .call-to-action-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      h2 {
        font-size: 34px;
      }
    }
    .social-media {
      ul {
        display: flex;
        gap: 16px;
        margin-top: 2.4rem;
      }
    }
  }
  @media (max-width: 576px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
    .social-media {
      ul {
        li {
          a {
            &:hover {
              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
