.cta {
  img {
    margin-right: 1rem;
  }
  display: flex;
  @include typeface-1(h4, desktop);
  color: $black;
  background-color: #37ff9f;
  padding: 1.6rem 2rem;
  font-weight: 700;
  @media (max-width: 768px) {
    padding: 1.4rem 1.6rem;
  }
}
