@font-face {
  font-family: "Nunito Sans";
  src: local(NunitoSans), url(../fonts/NunitoSans_7pt-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Nunito Sans";
  src: local(NunitoSans), url(../fonts/NunitoSans_7pt-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Nunito Sans";
  src: local(NunitoSans), url(../fonts/NunitoSans_7pt-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Nunito Sans";
  src: local(NunitoSans), url(../fonts/NunitoSans_7pt-Bold.ttf);
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

@import "variables";
@import "typography";
@import "mixins";
@import "animation";
@import "container";

html {
  font-size: 62.5%;
  overflow-x: hidden;
  // Scrool mais suave de transição
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #0a0c0b;
}

// Para deixar imagens e SVGs fluidos
svg {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.border {
  border: 1px solid red;
}

@import "patterns";
@import "header";
@import "home";
@import "footer";
